body {
    box-sizing: border-box;
    background: darkgray;
}

h1,
footer {
    text-align: center;
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 18em;
}

textarea {
    min-height: 15em;
    min-width: 50em;
    padding: 1em;
    border-radius: .7em .7em 0 0;
}

#container p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background: rgb(67, 160, 71);
    border-radius: 0 0 .7em .7em;
    margin-top: -1px;
    min-width: 17.5em;
}

textarea:focus {
    border-left: 2px solid rgb(67, 160, 71);
    border-top: 2px solid rgb(67, 160, 71);
    border-right: 2px solid rgb(67, 160, 71);
}

#container span {
    color: white;
    font-weight: bold;
    margin: 5px;
}